<div class="email-list-content">
  <ul class="nav nav-tabs" id="content-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="primary-tab" data-toggle="tab" href="#primary" role="tab" aria-controls="primary" aria-selected="true">
        <i class="fa fa-square"></i>Primary<span class="badge badge-danger">3 new</span>
        <small>Received 1 new email </small>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false"><i class="fa fa-users"></i>Social
        <span class="badge badge-primary">5 new</span>
        <small>Facebook, Linkedin</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="promotions" aria-selected="false"><i class="fa fa-tag"></i>Promotions<span class="badge badge-success">7 new</span>
        <small>Booking.com, printerest, Argos</small></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="primary" role="tabpanel" aria-labelledby="primary-tab">

      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>JenPrceCz</td>
          <td>Prace a brigady (60 aktualnich nabidek)- Dobry den, zasilame vam aktualni pracovni nabidky z naseho</td>
          <td>Jan21</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>JenPraceCz</td>
          <td>Prace a brigady (60 aktualnich nabidek)- Dobry den, zasilame vam aktualni pracovni nabidky z naseho</td>
          <td>Jan20</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>JenPraceCz</td>
          <td>Prace a brigady (60 aktualnich nabidek)- Dobry den, zasilame vam aktualni pracovni nabidky z naseho</td>
          <td>Jan19</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">

      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>YouTube</td>
          <td>Zdenek Maras prave nahral video, kouknete na to, lajkujte a zdelujte, kdo bude prvni, vyhraje listky na
          </td>
          <td>Jan21</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>Facebook</td>
          <td>John Elphistone wants to became friends</td>
          <td>Jan20</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>LauraWilson</td>
          <td>Laura Wilson just send you a message - open a message you need to use</td>
          <td>Jan19</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="promotions" role="tabpanel" aria-labelledby="promotions-tab">

      <table class="table table-hover-sm">
        <tbody>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>Printerest</td>
          <td>Church outfits, Fashion patterns and much more to search for in our new magazine. Order on line</td>
          <td>Jan21</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>Electro World</td>
          <td>Prestante se trast zimou, vyberte si topeni s nase nabidky</td>
          <td>Jan20</td>
        </tr>
        <tr>
          <th scope="row">
            <input type="checkbox" id="checkbox" aria-label="Checkbox for following text input"></th>
          <td>
            <button class="star-button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
          </td>
          <td>
            <button class="chevron-button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </td>
          <td>Argos</td>
          <td>Think warm thoughts - All your winter esentials in one place</td>
          <td>Jan19</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>









