<div class="email-list-toolbar">
  <div class="btn-toolbar float-left">
    <button type="button" class="btn btn-light"><i class="fa fa-square-o" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light"><i class="fa fa-repeat" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
  </div>
  <div class="btn-toolbar float-right">
    <button type="button" class="btn btn-light"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light"><i class="fa fa-cog" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-light">
      <i class="fa fa-caret-down" id="caret-down-right" aria-hidden="true"></i></button>
  </div>
</div>