<header class="row">
  <div class="col-2">
    <div class="btn-toolbar float-left">
      <button type="button" data-toggle="dropdown" class="btn btn-light" id="bars-button">
        <i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
      <a href="https://www.gmail.com">
        <button type="button" class="btn btn-light" id="mail-image">
          <img src="https://static.digit.in/default/4bf2e863380c26afce61fa97c2c71401eadd5656.png" class="mail-image">
        </button>
      </a>
      <a href="https://www.gmail.com">
        <button type="button" class="btn btn-light" id="top-left-gmail-icon"><strong>Gmail</strong></button>
      </a>
    </div>
  </div>
  <div class="col-8">
    <%= render('templates/gmail/search') %>
  </div>
  <div class="col-2">
    <div class="btn-toolbar float-right">
      <button class="btn btn-light"  id="question-button" type="button" data-toggle="dropdown">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Help</a>
        <a class="dropdown-item" href="#">Training</a>
        <a class="dropdown-item" href="#">Updates</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Send feedback</a>
      </div>

      <button class="btn btn-light" id="dotted-button" type="button" data-toggle="dropdown">
        <img src="https://cdn3.iconfinder.com/data/icons/essentials-set-2/17/007-menu-512.png" class="dotted-menu" aria-hidden="true" id="dotted-menu">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"></a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>

      <button class="btn btn-light" id="e-menu" type="button" data-toggle="dropdown">
        <img src="https://macstickers.com/wp-content/uploads/2018/07/Letter-E.png" class="e-letter-menu" aria-hidden="true">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

  </div>
</header>