<div class="list-group" id="v-pills-tab" role="tablist">
  <a class="active list-group-item list-group-item-action" id="v-pills-inbox-tab" data-toggle="pill" href="#v-pills-home"><i class="fa fa-user"></i><span class="d-sm-none"></span>Inbox<span class="badge badge-light pull-right">4</span></a>
  <a class="list-group-item list-group-item-action" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"><i class="fa fa-star"></i>Starred</a>
  <a class="list-group-item list-group-item-action" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"><i class="fa fa-clock-o"></i>Snoozed</a>
  <a class="list-group-item list-group-item-action" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"><i class="fa fa-chevron-circle-right"></i>Important</a>
  <a class="list-group-item list-group-item-action" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"><i class="fa fa-fighter-jet"></i>Sent</a>
  <a class="list-group-item list-group-item-action" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"><i class="fa fa-file"></i><strong>Drafts</strong></a>
  <a class="list-group-item list-group-item-action" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"><i class="fa fa-trash"></i>Trash</a>
  <a class="list-group-item list-group-item-action" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"><i class="fa fa-toggle-right"> </i><strong>Categories</strong></a>
  <a class="list-group-item list-group-item-action" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"><i class="fa fa-heart"></i>Personal</a>
  <a class="list-group-item list-group-item-action" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"><i class="fa fa-automobile"></i>Travel</a>
  <a class="list-group-item list-group-item-action" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"><i class="fa fa-arrow-circle-down"></i>Unvanted</a>

  <button id="more-menu" class="btn btn-light" type="button" data-toggle="dropdown">
    <img src="https://macstickers.com/wp-content/uploads/2018/07/Letter-E.png" aria-hidden="true">
    More
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div role="separator" class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>