<div id="gmail" class="container-fluid">
  <%= render('templates/gmail/header') %>
  <div class="row mt-2">
    <div class="col-2">
      <div class="row">
        <button class="new-email">
          <img src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"> Compose
        </button>
      </div>
      <div class="row nav-folders">
        <div class="col-12"><%= render('templates/gmail/side_folders') %></div>
      </div>
    </div>
    <div class="col-9">
      <div class="middle-column email-list clearfix">
        <%= render('templates/gmail/email_toolbar') %>
      </div>
      <hr>
      <%= render('templates/gmail/content') %>
    </div>
    <div class="col-1">
      <button class="btn btn-light" type="button" data-toggle="dropdown">
        <img src="https://previews.123rf.com/images/rodakm/rodakm1205/rodakm120500007/13529388-independence-day-calendar-icon-is-blue-on-a-white-background.jpg" class="calendar-menu" aria-hidden="true" style="height: 2rem; width: 2rem">
      </button>
      one
    </div>
    <hr>
  </div>
</div>







