<div id="google">
  <div class="row">
    <div class="col-12"><%= render('templates/google/header') %></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= render('templates/google/logo') %>
        <%= render('templates/google/search_input') %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

<!--<div class="container1">
<input type=text><button>Submit</button>
</div>-->
