<div class="remax-page">
  <div class="links">
    <div class="content-cover">
      <div id="top-brand" class="top-brand" style="opacity: 1">
        <span class="top-brand_label">reklama</span>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <section id="header" class="jumbotron text-center">
          <h1 class="display-1">REMAX</h1>
          <p class="lead">Realitni sluzby jake si prejete</p>
          <a href="" class="btn btn-danger">Vyzkousejte nas</a>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <nav id="top-header" class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="https://www.sreality.cz/img/sreality-logo.png?4" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-flag-checkered" aria-hidden="true"></i> Cesky
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"><i class="fa fa-flag"></i> English</a>
              <a class="dropdown-item" href="#"><i class="fa fa-flag-o" aria-hidden="true"></i> Rusky</a>
            </div>
          </li>
          <li class="nav-link"><a href="https://www.seznam.cz">Seznam.cz <span class="sr-only">(current)</span></a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prihlasit se</a>
          </li>
        </ul>
      </div>
    </nav>
    <h2>Vyberte si z 82 428 aktualnich nabidek realit</h2>


    <div class="container">
      <div class="main-nav ml-auto mr-auto">
        <div class="d-flex justify-content-center bd-highlight">
          <div class="bd-highlight tab"><a href="#" class="fa fa-globe" aria-hidden="true"><h5>Byty</h5></a>

          </div>
          <div class="bd-highlight tab"><a href="#" class="fa fa-university" aria-hidden="true"><h5>Domy</h5></a>

          </div>
          <div class="bd-highlight tab"><a href="#" class="fa fa-car" aria-hidden="true"><h5>Projekty</h5></a>

          </div>
        </div>
        <div class="d-flex justify-content-center bd-highlight">
          <div class="bd-highlight tab"><a href="#" class="fa fa-globe" aria-hidden="true"><h5> Pozemky</h5></a>

          </div>
          <div class="bd-highlight tab">
            <a href="#" class="fa fa-university" aria-hidden="true"><h5>Komercni</h5></a>

          </div>
          <div class="bd-highlight tab"><a href="#" class="fa fa-car" aria-hidden="true"><h5>Ostatni</h5></a>

          </div>
        </div>
      </div>
      <h3>Zvažujete prodej či pronájem Vaší nemovitosti?</h3>
      <img src="https://www.sreality.cz/img/krusty-info-inverz.png" alt="">
      <button class="btn btn-danger">Chci zjistit vic</button>
      <hr>
      <div class="media">
        <div class="align-self-start mr-3">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>

        <div class="media-body">
          <h5 class="mt-0">Oblibene inzeraty</h5>
          <p>Pro pridavani inzeratu do oblibenych je treba se prihlasit</p>
        </div>
      </div>
      <hr>
      <div class="media">
        <div class="mr-3">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>
        <div class="media-body">
          <h5 class="mt-0">Ulozene hledani</h5>
          <p>Pro ulozeni hledani treba se prihlasit</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container nav-account">
      <div class="row">
        <div class="col-sm-4">
          <a href="#" class="btn btn-block">
            <i class="fa fa-file-o"></i><br>
            <span>Vlozit/Upravit inzerat</span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-block">
            <i class="fa fa-sign-in"></i> <br>
            <span>Vstup pro realitni kancelare</span>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-block">
            <i class="fa fa-book"></i><br>
            <span>Adresar realitnich kancelari</span>
          </a>

        </div>
      </div>
      <img src="https://www.sreality.cz/img/soft-promo.png" alt="">
    </div>
    <!--
<nav class="navbar navbar-light bg-light">
<a class="navbar brand" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
     <a href="">
        <h5> Software od Srealit jako jediny ukaze </h5>
        <h5>kolik krat se vas izerat zobrazil</h5>
     </a>
<button class="btn btn-danger"type="submit">Zjistit vice</button>
</nav>
-->
    <div class="page-footer mg-isolate-scope">
      <div class="links">
        <span class="mg-isolate-scope"></span>
        <span class="item mandatory">
  <button class="dir-feedback ng-binding ng-isolate-scope">Co rikate na Sreality.cz?</button>
</span>
      </div>
    </div>

<div class="footer-text"></div>
<a class="text" href="#"> Co rikate na Sreality.cz</a>
-
<a class="text" href="#">Výzkumník</a>
-
<a class="text" href="#">Pro spotřebitele</a>
-
<a class="text" href="#"> Ochrana údajů </a>
-
<a class="text" href="#">Smluvní podmínky </a>
-
<a class="text" href="#">Reklama</a>
-
<a class="text" href="#"> Realitní software</a>
-
<a class="text" href="#">Blog </a>
-
<a class="text" href="#">Nápověda</a>
-
<a class="text" href="#"> Technická podpora</a>
-
<a class="text" href="#">Kontakty</a>
    <p class="text-center">Pomáhají najít vhodnou nemovitost díky aktuální nabídce realit v ČR i zahraničí. Jakékoliv
      užití obsahu internetového serveru www.sreality.cz, včetně převzetí, šíření či dalšího zpřístupňování inzerátů a
      fotografií je bez souhlasu Seznam.cz, a.s., zakázáno.</p>
    <p class="text-center">Copyright © 1996–2019 Seznam.cz, a.s.</p>
  </div>
</div>