<div class="test">
  <div class="row">
    <div class="col-3">
      <p class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link disabled" id="internet-shopping-tab" data-toggle="pill" href="#" role="tab"
           aria-controls="v-pills-home" aria-selected="true"><h5>Internet Shopping</h5></a>

        <a href="https://www.amazon.com/" class="nav-link" id="amazone-tab">Amazone</a>

        <a href="https://www.argos.co.uk/" class="nav-link" id="argos-tab">Argos</a>

        <a href="https://www.decathlon.cz/" class="nav-link" id="decatlon-tab">Decatlon</a>

        <a href="https://www.ebay.com/" class="nav-link" id="ebbay-tab">Ebay</a>

        <a href="https://direct.asda.com/george/clothing/10,default,sc.html" class="nav-link" id="george-tab">George</a>

        <a href="https://www.tkmaxx.com/uk/en/" class="nav-link" id="tkmaxx-tab">TK Maxx</a>

        <a href="https://www.tesco.com/" class="nav-link" id="tesco-tab">Tesco</a>
    </div>
  </div>
</div>