<header>
  <ul>
    <li><a href="#">Gmail</a></li>
    <li><a href="#">Images</a></li>
    <li>
      <button class="btn btn-light" id="dotted-button" type="button" data-toggle="dropdown">
        <img src="https://cdn3.iconfinder.com/data/icons/essentials-set-2/17/007-menu-512.png" class="dotted-menu" aria-hidden="true" id="dotted-menu">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"></a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li>
      <button class="btn btn-light" id="e-menu" type="button" data-toggle="dropdown">
        <img src="https://macstickers.com/wp-content/uploads/2018/07/Letter-E.png" class="e-letter-menu" aria-hidden="true">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
      </div>
    </li>
  </ul>
</header>