<div class="input-group mb-3" id="search-input">
  <div class="input-group-prepend" id="icon-search">
    <button class="btn btn-outline-secondary"  id="search-side-buttons" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <input type="text" class="form-control" placeholder="Search Google or type URL" aria-label="Example text with two button addons" aria-describedby="button-addon3">
  <div class="input-group-append" id="microphone-button">
    <button class="btn btn-outline-secondary" id="search-side-buttons" type="button">
      <img class="icon-microphone" src="https://i.ya-webdesign.com/images/_color_272x92dp-png-no-repeat-background-size-272px-92px-height-92px-width-272px-5.png">
    </button>
  </div>
</div>