
.email-list-content {
  .fa.fa-square {
    margin-right: 10px;
  }
  #primary-tab {
    width: 14rem;
    height: 4rem;
    margin-top: -17px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    padding-top: 1.1rem;
    color: #666666;
  }


  #primary-tab:hover {
    background-color: $gray-default;
  }

  #primary-tab:focus {
    background-color: transparent;
    color: red;
    border-bottom-color: red;
    border-bottom-style: double;
  }

  #primary-tab:active {
    background-color: transparent;
    color: red;
    border-bottom-color: red;
    border-bottom-style: double;
  }
   .badge.badge-danger {
     background-color: red;
     margin-left: 15px;
   }
.fa.fa-users {
  margin-right: 10px;
}
  #social-tab {
    width: 14rem;
    height: 4rem;
    margin-top: -17px;
    background-color: transparent;
    text-align: center;
    padding-top: 1.1rem;
    border-color: transparent;
    color: #666666;
  }

  #social-tab:hover {
    background-color: $gray-default;
  }

  #social-tab:focus {
    background-color: transparent;
    color: blue;
    border-bottom-color: blue;
    border-bottom-style: double;
  }
  #social-tab:active {
    background-color: transparent;
    color: blue;
    border-bottom-color: blue;
    border-bottom-style: double;
  }
  .badge.badge-primary {
    margin-left: 15px;
  }
.fa.fa-tag {
  margin-right: 10px;
}
  #promotions-tab {
    width: 14rem;
    height: 4rem;
    margin-top: -17px;
    background-color: transparent;
    border-radius: inherit;
    text-align: center;
    padding-top: 1.1rem;
    border-color: transparent;
    color: #666666;
  }

  #promotions-tab:hover {
    background-color: $gray-default;
  }

  #promotions-tab:focus {
    background-color: transparent;
    color: green;
    border-bottom-color: green;
    border-bottom-style: double;
  }
  #promotions-tab:active {
    background-color: transparent;
    color: green;
    border-bottom-color: green;
    border-bottom-style: double;
  }
  .badge.badge-success {
    margin-left: 15px;
  }

  tbody {
    th {
      input[type='checkbox'] {
        position: relative;
        top: 0.8rem;
      }
    }
    .star-button .fa {
      bottom: 2px;
    }
    .chevron-button.fa {
      position: relative;
    }
  }

  .chevron-button {
    background-color: transparent;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 25px;
    border: none;
    padding-right: 1px;
    margin-top:-6px;
    margin-left: -7px;
  }
  .fa.fa-chevron-right {
    padding-left: 8px;
  }


  .chevron-button:hover {
    background-color: $gray-default;
  }

  .star-button {
    background-color: transparent;
    width:  2.3rem;
    height: 2.3rem;
    border-radius: 25px;
    box-shadow: none;
    border-color: transparent;
    margin-top: -6px;
    margin-left: -7px;
  }
  .fa.fa-star-o {
    padding-left: 3px;
  }

  .star-button:hover {
    background-color: $gray-default;
  }

  #checkbox:hover {
    background-color: $gray-default;
  }

  #checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }

  td {
    padding-bottom: 1px;
    font-size: medium;
  }

  th {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

