header {
  border-bottom: 1px solid lightgrey;
   .fa  {
     color: #666666;
   }
  .fa.fa-bars {
    text-align: center;
  }
  #bars-button {
    font-size: 1.5em;
    margin-top: 12px;
    background-color: transparent;
    width: 2.75rem;
    height: 2.75rem;
    padding-right: 2rem;
    border-radius: 25px;
    border: none;
  }

  #bars-button:hover {
    background-color: $gray-default;
  }

  .mail-image {
    height: 3rem;
    font-size: 3.75em;
    color: #666666;
    padding-right: -7px;
    margin-bottom: -2rem;
    margin-right: 15px;
    border-radius: 25px;
    width: 5rem;
  }
  #mail-image {
    width: 5rem;
    border: none;
    background-color: transparent;
    padding-left: 6px;
    padding-right: 1px;
  }

  #top-left-gmail-icon {
    color: #666666;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    font-size: larger;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    border-color: transparent;

  }

  .fa.fa-question-circle-o {
    height: 1rem;
    font-size: 1.5em;
    padding-top: 5px;
    padding-left: 10px;
    width: 1rem
  }

  .dotted-menu {
    height: 1rem;
    font-size: 3.75em;
  }

  .e-letter-menu {
    height: 2rem;
    font-size: 3.75em;
  }

  #list-group-item:last-child {
    border: transparent;
  }
  .btn.btn-light {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

}