header {
  border-bottom: 1px solid lightgrey;
   .fa  {
     color: #666666;
   }
  .fa.fa-bars {
    text-align: center;
  }
  #bars-button {
    font-size: 1.5em;
    margin-top: 12px;
    background-color: transparent;
    width: 2.75rem;
    height: 2.75rem;
    padding-right: 2rem;
    border-radius: 25px;
    border: none;
  }

  #bars-button:hover {
    background-color: $gray-default;
  }

  .mail-image {
    height: 3rem;
    font-size: 3.75em;
    color: #666666;
    padding-right: -7px;
    margin-bottom: -2rem;
    margin-right: 15px;
    border-radius: 25px;
    width: 5rem;
    background-color: transparent;
  }
  #mail-image {
    width: 5rem;
    border: none;
    background-color: transparent;
    padding-left: 6px;
    padding-right: 1px;
  }

  #top-left-gmail-icon {
    color: #666666;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    font-size: larger;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    border-color: transparent;
    background-color: transparent;

  }

  #question-button {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 16px;
    background-color: transparent;
    border-radius: 25px;
    padding-top: 3px;
    padding-left: 8.5px;
    border: none  ;
    margin-left: 2px;
  }
  #question-button:hover {
    background-color: $gray-default;
  }
  #question-button:focus {
    box-shadow: none;
    background-color: $gray-default;
  }

  #dotted-menu {
    margin-top: 12px;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
  }
  #dotted-button {
    border-radius: 25px;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 16px;
    padding-top: 1px;
    padding-right: 12px;
    padding-left: 11px;
    padding-bottom: 11px;
    border: none;
    margin-right: 2px;
  }
  #dotted-button:hover {
    background-color: $gray-default;
  }
  #dotted-button:focus {
    box-shadow: none;
    background-color: $gray-default;
  }

  .e-letter-menu {
    height: 2rem;
    border-radius: 25px;
    background-color: transparent;
    margin-left:-8px;
    margin-top: -2px;
  }
  #e-menu {
    background-color: transparent;
    margin-top: 16px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 25px;
    border: none;
  }
  #e-menu:hover {
    background-color: $gray-default;
  }
  #e-menu:focus {
    box-shadow: none;
    background-color: $gray-default;
  }

  .btn-light:hover {
    background-color: $gray-default;
  }

  #list-group-item:last-child {
    border: transparent;
  }

}