.nav-folders {

  .list-group-item {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: transparent;
    color: #666666;
    padding: 0.15rem 1.25rem;
    margin-left: -1rem;

    .list-group-item:hover {
      background-color: $gray-default;
    }
    .badge {
      position: relative;
      top: 3px;
      background-color:  transparent;
    }
    .badge:hover {
      background-color: transparent;
    }
    .badge:focus {
      background-color:  #fce8e6;
      color: red;
    }
    .badge:active {
      color:red;
    }

    &.active {
      background-color: #fce8e6;
      color: red;
      border: transparent;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  #v-pills-settings-tab {
    background-color: transparent;
    color: #666666;
  }
  #v-pills-settings-tab:hover {
    background-color: $gray-default;
  }
  #v-pills-settings-tab:active {
    color: red;
  }
  #v-pills-settings-tab:focus {
    background-color: #fce8e6;
    color: red;
  }
}