<style>
  a.content {
    text-align: left;
    margin: 5rem;
    margin-right: 0rem;
    padding: 30px;
  }
  .btn-danger {
    margin-bottom: 20px;
  }

   .dropbtn {
     background-color: lightgrey;
     color: black;
     font-size: medium;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
   }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }



  .dropdown-content a:hover {}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: lightgrey;}
    .input-group {
      border-radius: 5px;
    }
  .form-check-label {
    overflow-wrap: initial;
  }
    div.col-5.col {
      margin-right: -50px;
      padding-left: 39px;
    }
    .col {
      padding-left: 35px;
    }

  .btn-outline-danger {
    margin-left: -30px;
  }

.form-group.form-check {
  margin-right: -70px;
  position: center;
  margin-top: 20px;
}

    .container {
      box-sizing: inherit;
      display: block;
      border: #666666;
      border-radius: 25px;
    }

    .date {
      padding: 0px;
      border-radius: 5px;
      height: 39px;
      border-color: #BBBBBB;
    }

</style>



<div class="container">
  <form action="/sign-up">
     <div class="form-group">
       <div class="input-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <div class="input-group-append"></div>

       <div class="dropdown">
        <button class="dropbtn btn btn-default">Dropdown</button>
         <div class="dropdown-content">
          <a href="#" class="dropdown-item">@email.cz</a>
          <a href="#" class="dropdown-item">@post.cz</a>
          <a href="#" class="dropdown-item">spoluzaci.cz</a>
           <a href="#" class="dropdown-item">@firmy.cz</a>
           <a href="#" class="dropdown-item">Own address</a>
         </div>
       </div>
      </div>



  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Please confirm your new password">
    </div>
    <div class="container">
    <div class="row">
    <form>
    <input type="date" class="date" name="bday">
  </form>

    <div class="col-5 col">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="gender" value="male"  autocomplete="off" checked> Muz
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="gender" value="female" autocomplete="off"> Zena
        </label>
      </div>
    </div>
    </div>
  </div>
    <div class="col-7 col">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agree">
        <label class="form-check-label" for="exampleCheck1">I agree with the terms of use</label>
      </div>
    </div>

  <button type="button" class="btn btn-danger btn-lg btn-block">Sign in</button>
  <a class="content" href="#">Problems signing in?</a>
</form>
</div>