
<div class="container" id="page-forms">
  <div class="logo">
    <img src="http://www.jelibobyt.cz/img/ui/partners/sreality.png" width="250px" height="100px" alt="#">
    <h1><strong>Sign In</strong></h1>
    <h6>One account for everything Seznam offers</h6>
    <a href="http://www.seznam.cz" target="_blank">Seznam.cz</a>
  </div>

  <form class="form-group" id="sign-up-form">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter email">
        <div class="input-group-append">
          <button type="button" class="btn btn-light">Seznam.cz</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">seznam.cz</a>
            <a class="dropdown-item" href="#">email.cz</a>
            <a class="dropdown-item" href="#">post.cz</a>
            <a class="dropdown-item" href="#">spoluzaci.cz</a>
            <a class="dropdown-item" href="#">streem.cz</a>
            <a class="dropdown-item" href="#">firmy.cz</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Own address</a>
          </div>
        </div>
      </div>
    </div>

<div class="form-group">
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-group">
  <input class="form-control" id="exampleInputPassword1" placeholder="Please confirm your new password" type="password">
</div>

<div class="container">
  <div class="row">
    <input type="date" class="date" name="b-day">
    <div class="col-5 col">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="gender" value="male" autocomplete="off" checked> Muz
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="gender" value="female" autocomplete="off"> Zena
        </label>
      </div>
    </div>
  </div>
</div>

<div class="col-7 col">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="agree">
    <label class="form-check-label" for="exampleCheck1">I agree with the terms of use</label>
  </div>
</div>

<button type="button" class="btn btn-danger btn-lg btn-block">Sign in</button>
<div class="row text-center">
  <div class="col-12"><a class="content" href="#">Problems signing in?</a></div>
</div>
</form>
</div>
  