
#page-forms {
  #signup-form {
    padding: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
  }

  a.content {
    text-align: center;
  }

  .btn-danger {
    margin-bottom: 20px;
  }

  .dropbtn {
    background-color: lightgrey;
    color: black;
    font-size: medium;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: lightgrey;
  }

  .input-group {
    border-radius: 5px;
  }

  .form-check-label {
    overflow-wrap: initial;
  }

  div.col-5.col {
    margin-right: -50px;
    padding-left: 39px;
  }

  .col {
    padding-left: 35px;
  }
  .btn-outline-primary {
    margin-left: 0px;
  }

  .btn-outline-danger {
    margin-right: 30px;
  }


  .form-group.form-check {
    margin-right: -70px;
    position: center;
    margin-top: 20px;
  }

  .container {
    box-sizing: inherit;
    display: block;
    border: #666666;
    border-radius: 25px;
  }

  #signup-form {
    background-color: #F7F7F7;
  }
  .date {
    padding: 0px;
    border-radius: 5px;
    height: 39px;
    border-color: #BBBBBB;
  }


  .logo {
    text-align: center;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h6 {
    color: #666666;
    margin-bottom: 20px;
  }
}





