<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example! These are not original web pages of Google, Gmail or Sreality.cz</p>
    <p>It's just a copies what I did when I trained my self in programing, using already existing projects.</p>
  </div>
</footer>