<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading mb-4">Edita H. Vainalavičute</h1>
    <div class="row">
      <div class="col-sm-12">
        <%= render('templates/presentation/section', heading: 'About Me', media: 'edita-v-1.png') do %>
          <p class="text-white">I am a self educated HTML and CSS programmer.After studies in university, where I had
            few semesters of IT (few years working at abroad, traveling and maternity leave)
            I decided to get on path of programing. I started with Udemy courses on line following
            with intensive courses "www creation" in Nicom.cz
            where I also gained some basic knowledge in Photoshop, JavaScript and PHP, now continuing of self educating
            lead by highly experienced senior programmer
            <a href="https://www.linkedin.com/in/petr-blahutka-02042313/" target="_blank">Petr Blahutka.</a>
          </p>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row knowledge">
      <div class="col col-sm-4">
        <%= render('templates/presentation/section', heading: 'Design') do %>
          <p> I have some basic knowledge working with
            <a href="https://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop</a>
        <% end %>
      </div>
      <div class="col col-sm-4">
        <%= render('templates/presentation/section', heading: 'HTML/CSS') do %>
          <p>I'm using CSS with
            <a href="http://sass-lang.com" target="_blank" title="Sass - css tool for OOP with stylesheets">Sass</a>
            and <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank">Bootstrap</a>
          </p>
        <% end %>
      </div>

      <div class="col col-sm-4">
        <%= render('templates/presentation/section', heading: 'Programing Languages') do %>
          <p>Basic knowledge jQuery library, JavaScript and PHP languages
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>