
#gmail {

  .btn-new-email {

  }

  .col-12 {
    background-color: #EFEFEF;
    margin: 10px;
    padding: 20px;
  }

  #mySidenav {
    text-align: left;
  }

  .nav-link {
    color: #666666;
    font-size: medium;
    margin: -1px;
    font-size: small;
  }

  .nav-link:hover {
    background-color: lavender;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 160px;
  }

  .dropbtn {
    background-color: lightgrey;
    color: black;
    font-size: medium;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: lightgrey;
  }

  .dropbtn {
    background-color: white;
  }

  .btn-default {
    background-color: white;
  }

  .btn-default:hover {
    background-color: red;
  }

  .new-email {
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px
  }

  #v-pills-inbox-tab {
    background-color: lightpink;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 160px;
  }
}

