.google {

  form {
    text-align: center;
  }

  .logo {
    width: 300px;
    height: 200px;
    /*margin: 50px 50px 0px 0px;*/
    text-align: right;
  }


  .container.text-center.mt-5 {
    text-align: right;
  }

  .input-group {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 20px;
  }

    input {
      border: none;
      border-radius: 20px;
      box-shadow: none;
      height: 40px;
      width: 35%;
      text-align: left;
      margin: auto;
      padding: 10px;
      text-decoration: none;
      color: #999999;

    }

    .btn {
      border-color: transparent;
      background-size: 21px 21px;
      background-repeat: no-repeat;
      background-position: right;
      border-radius: 25px;
    }


    .icon-microphone{
      background: center no-repeat url("https://seeklogo.com/images/G/google-mic-logo-EF440C9A6F-seeklogo.com.png");
      background-size: 20px 20px;
      margin-right: auto;
      margin-left: 2px;
    }
    .input-group-append {
      margin-right: 10px;
    }
  }

