#google {

  $goolge-red: red;
  $gray-default: #f0f2f7;

  a {
    color: #2E2F30;
  }
.btn-toolbar {
  box-sizing: border-box;
  float: right;
}
  .btn.btn-secondary {
    background-color: transparent;
    border: none;
  }

  #menu-dotted {
    margin-top: -5px;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    float: right;
  }

  #button-dotted {
    border-radius: 25px;
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 5px;
    padding-top: 1px;
    padding-right: 12px;
    padding-left: 11px;
    padding-bottom: 1px;
    border-color: transparent;
    margin-right: 2px;
    float: right;
  }

  #button-dotted:hover {
    background-color: $gray-default;
  }

  #button-dotted:focus {
    box-shadow: none;
    background-color: $gray-default;
  }

  .letter-e-menu {
    height: 2rem;
    border-radius: 25px;
    background-color: transparent;
    margin-left: -8px;
    margin-top: -2px;
  }

  #menu-e {
    background-color: transparent;
    margin-top: 5px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 25px;
    border: none;
  }

  #menu-e:hover {
    background-color: $gray-default;
  }

  #menu-e:focus {
    box-shadow: none;
    background-color: $gray-default;
  }

  .google-apps {

  }


  .container.text-center.mt-5 {
    text-align: right;
  }

  input {
    border: none;
    border-radius: 20px;
    box-shadow: none;
    height: 40px;
    width: 35%;
    text-align: left;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: #999999;
  }

}

.icon-microphone {
  margin-right: auto;
  width: 20px;
  height: 20px;
}

.logo {
  width: 300px;
  height: 200px;
  margin: 50px 50px 0;
  text-align: right;
}

.input-group-append {
  margin-right: 10px;
  background-color: transparent;
}

.input-group {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 20px;

  .form-control {
    border: none;
  }
}

#search-side-buttons {
  background-color: transparent;
  border-color: transparent;
  border-radius: 25px;
}



