<div id="navbar" navbar-expand navbar-dark>
  <div class="container">
    <a href="/">Domu</a>
    <a href="/templates/forms">Forms</a>
    <a href="/templates/cards">Cards</a>
    <a href="/templates/google">Google</a>
    <a href="templates/gmail">Gmail</a>
    <a href="#Ja">Ja</a>
    <a href="#Produkty">Produkty</a>

  </div>
</div>