<div id="navbar" navbar-expand navbar-dark>
  <div class="container">
    <a href="#Domu">Domu</a>
    <a href="#Sit">Sit</a>
    <a href="#Prace">Prace</a>
    <a href="#Zpravy">Zpavy</a>
    <a href="#Oznameni">Oznameni</a>
    <a href="#Ja">Ja</a>
    <a href="#Produkty">Produkty</a>

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Vyhledat</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>
  </div>
</div>